<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}{% endblock %}</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="./static/css/app.css">
        {% block css %}{%endblock%}
    </head>
    <body>
        {% block main %}{% endblock %} 


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="./static/js/bootstrap.min.js"></script>
        <script src="./static/js/vue-router.js" charset="utf-8"></script>
        <script src="./static/js/vue.js" charset="utf-8"></script>
        <script src="./static/js/app.js" charset="utf-8"></script>
    </body>
</html>